.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    flex: 1;
    align-self: center;
    width: min(600px, 90%);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.generate-pairs-form {
    display: flex;
    flex-direction: column;

    padding: 8px 0;
}

.pairs-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pair-card {
    padding: 8px 0 8px 8px;

    border-width: 2px;
    border-color: #9998;
    border-bottom-style: solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.name-container {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.name-container.left {
    align-items: flex-start;
}

.name-container.right {
    align-items: flex-end;
}

.arrow {
    flex: 0;
}

.indicator {
    color: #888;
    font-size: 14px;
}

.employee-name {
    font-size: 16px;
}

.no-pairs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-indicator {
    color: var(--font-gray);
}

.no-pair-card {
    padding: 8px 0 8px 8px;

    border-width: 2px;
    border-color: #9998;
    border-bottom-style: solid;

    display: flex;
    flex-direction: column;
}

.button {
    padding: 6px 10px;
    border-style: none;
    border-radius: 6px;
    color: var(--santa-white);
    font-size: 15px;
}

.submit-button {
    background-color: var(--santa-dark-green);
    color: var(--santa-white);
}

.error-message {
    color: crimson;
    font-size: 14px;
}

.fa-icon {
    /*font-size: 18px;*/
}
