<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/secret-santa.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script type="module" th:src="@{/js/secret-santa.js}" defer></script>
    <title>Secret Santa</title>
</head>
<body class="container">
<header class="header">
        <span class="header-title">
            Secret Santa
        </span>
</header>
<main class="main">
    <form class="generate-pairs-form" action="/api" method="post">
        <button class="button submit-button" type="submit">Generate new list</button>
        <span class="error-message"></span>
    </form>
    <div class="pairs-container">
        <div th:each="pair : ${pairs}" class="pair-card">
            <div class="name-container left">
                <span class="indicator">Giver:</span>
                <span th:text="${pair.giverName}" class="employee-name"></span>
            </div>
            <span class="arrow"><i class="fa-solid fa-arrow-right"></i> </span>
            <div class="name-container right">
                <span class="indicator">Receiver:</span>
                <span th:text="${pair.receiverName}" class="employee-name"></span>
            </div>
        </div>
    </div>

</main>
<footer class="footer">
    Secret Santa Demo
</footer>
</body>
</html>