<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/secret-santa.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script type="module" th:src="@{/js/secret-santa.js}" defer></script>
    <title>Secret Santa</title>
</head>
<body class="container">
<div th:replace="~{fragments/header :: header}"></div>
<main class="main">
    <form class="generate-pairs-form" action="/" method="post">
        <button class="button submit-button" type="submit">Generate new list</button>
        <span class="error-message"></span>
    </form>
    <!-- If there are more than 1 pairs -->
    <div th:if="${#lists.size(pairs) > 1}" class="pairs-container">
        <div class="list-indicator">Secret Santa pairs:</div>
        <div th:each="pair : ${pairs}" class="pair-card">
            <div class="name-container left">
                <span class="indicator">Giver:</span>
                <span th:text="${pair.giverName}" class="employee-name"></span>
            </div>
            <span class="arrow"><i class="fa-solid fa-arrow-right"></i> </span>
            <div class="name-container right">
                <span class="indicator">Receiver:</span>
                <span th:text="${pair.receiverName}" class="employee-name"></span>
            </div>
        </div>
    </div>

    <!-- If there is a single unpaired employee -->
    <div th:if="${#lists.size(pairs) == 1}" class="no-pairs-container">
        <div class="list-indicator">Unpaired employee:</div>
        <div class="no-pair-card">
            <span class="indicator">Name:</span>
            <span th:text="${pairs[0].giverName}" class="employee-name"></span>
        </div>
    </div>

</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>